name: build_run_tests

on: [push]

jobs:
  build-ubuntu:
    runs-on: ubuntu-18.04-gcc-9
    steps:
      - uses: actions/checkout@v1
      - name: configure
        run: mkdir build && cd build && cmake -DCMAKE_CXX_FLAGS="-Werror" ..
      - name: build
        run: cmake --build build
      - name: test
        run: cd build && ctest
